.container {

}

.currency_names {
  display: flex;
  gap: 10px;
}

.currency_name {
  background: white;
  color: black;
  padding: 5px 10px;
  list-style-type: none;
  border-radius: 8px;
}

.currency_name_active {
  background: black;
  color: white;
  padding: 5px 10px;
  list-style-type: none;
  border-radius: 8px;
}