.task_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.task {
  width: 77%;
  min-height: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  gap: 10px;
  padding: 5px 10px;

  &_buttons {
    display: flex;
    gap: 5px;

    & img {
      width: 30px;
      height: 30px;
    }
  }

  &_text {
    min-width: 130px;
    word-wrap: break-word;

    &_done {
      max-width: 200px;
      word-wrap: break-word;
      text-decoration: line-through;
    }
  }

}


